@charset "utf-8";

/*공통*/
* {
	margin:0; padding:0; box-sizing:border-box;	
}
::-webkit-scrollbar {width:0px;}
html {scroll-behavior:smooth;}
html, body {
	font:12pt/160% 'Noto Sans KR' , sans-serif;
	letter-spacing:-0.75pt;
}
img {
	display:block; max-width:100%;
}
a {text-decoration:none;}


/*상단 내비게이션*/
nav {
	position:fixed; width:100%; z-index:1;
	padding:20pt 10pt 10pt 10pt;
	font-weight:700;
}
nav.act {  position: sticky; width:100vw;
  background:rgba(238, 238, 238, 0.8);
  top:0; left:0;
  z-index: 1; }

nav> div {
	max-width:1490px; margin:auto; display:flex;
}
nav img {
	transform: translateX(-10px) translateY(-7px);
	filter: drop-shadow(0 1px 1px #000);
	width:30pt; }
nav p {
	color:white; font-size:1.2rem;
	flex:1; text-shadow:0 0 10px black;
}
#menu a {
	color:white; margin-left:20pt;
	text-shadow:0 0 10px black;
}


/*헤더(배경이미지)*/
#top { background :#d0d5e1; }

video {
	width:100%;
}
#scroll { 
	position: absolute; top: 0%; width: 100%;
}
.op img {
	position: relative; width:280px;
	margin:auto; 
	margin-top:10vh;	
	filter: drop-shadow(5px 5px 5px #000);
}
.op2 {
	animation: op2 3s infinite;
}

@keyframes op2 {
	50% {
			opacity: 0;
	}
}

#typing {	
	height:-60vh; color:white; text-align:center; line-height:160%;
	font-size:2.5rem;
	text-shadow:0 1px 10px black;	
	height:150px;
}
#click {	
	display:block;
	max-width:100px; margin:auto; 
	text-align:center;
	transform: translateY(35vh);	
}
#click i {
	font-size:2.5rem; color:white; display:block;
	animation:upDown 1s infinite;
	text-shadow:0 1px 1px black;
}
@keyframes upDown {
	from 	{transform:translateY(-10pt); opacity:0;}
	to 		{transform:translateY(0pt);   opacity:1;}
}

#click a {color:white; text-shadow:0 1px 1px #666;}


/*** 공통: About / Portfolio / Event / Contant */
.area {
	/* border:1px solid red; */
	padding:15vh 0 10vh 0; min-height:100vh;
	top:0;
}

.area h2 {
	text-align:center; font-size:3rem; margin-bottom:60pt;
}

/*About(자기소개)*/
#about {
	padding-bottom: 200px;
	/* border:2px solid blue; */
	background:#d0d5e1 ;
}
#about img {
	width:100%;
	/* height: 60%; */
	margin-top:130pt;
}

#sec1	{ 
	background: #becae8;
	margin-right:50px;
}
#sec1> p {
	max-width:200pt; margin:auto; text-align:center;
	transform: translateY(70pt);
	font-size:18pt !important;
	font-weight: 700 !important; height:50px; 
}

#about mark {
	margin-right:10px;
	background:white; font-size:1.1rem; opacity: 0.4; 
}
#about span {
	font-size: 1.9rem !important; margin:auto;
	font-family: 'Nanum Pen Script', cursive;
	transform:translateX(-25px) translateY(-33px); display:inline-block;
}
.text{
  display: inline; vertical-align: middle;
  border-right: .05em solid black;
  animation:  cursor 0.2s ease infinite;
}
/*profile / Experiences & Education / skill*/
#about> div {	
	max-width:850pt; margin:auto; display:flex;
	/* border:1px solid magenta; */
}
#sec { 
}
#about h3 		{padding:50pt 0  10pt 0;}
#about p 		{font-size:0.9rem; font-weight:300;}
#sec2 {
	padding:20px; top:0;
	/* margin-left:50px; */
}

/*profile*/
#about section:nth-child(1){
	flex:1.3;
}
/*Experiences & Education*/
#about section:nth-child(2){
	flex:2; padding-right:20px;
}
/*skill*/
#skill  {
	flex:1.2;
}
#skill label {
	font-size:0.8rem; font-weight:400;
	display:inline-block; width:45%;
}
#skill progress {
	width:40%; -webkit-appearance:none;
}
#skill ::-webkit-progress-bar {
	background:#eee; height:10px; border-radius:5px;
}
#skill ::-webkit-progress-value {
	background:#9fb4e7; border-radius:5px;
}


/***** portfolio *****/
#portfolio {
	padding-left:20pt; padding-right:20pt;
	max-width:1400px; margin:auto; overflow:hidden;
}
#portfolio section {display:flex;}
#portfolio section:not(:first-of-type){
	min-height:100vh; padding-top:20vh;
	
}

#port1 div.left {
	margin-right:60pt;
}

#portfolio h3 {
	font-size:1.8rem; padding-bottom:20pt;
	
}
#portfolio ul {
	list-style:none; line-height:180%;
	padding-bottom:25pt;
}
#portfolio li {display:flex; padding-bottom:10px;}
#portfolio li> * {}
#portfolio b 	{flex:0.15;}
#portfolio span {flex:0.85; text-align:justify;}
#portfolio a 	{
	border:1px solid #ddd; padding:6pt 30pt; 
	border-radius:20pt; color:black; font-weight:500;
	font-size:1rem; display:inline-block; margin-bottom:5pt;
}
#portfolio a:hover {
	background:#555; color:white;
}
#portfolio h2 {
	margin-bottom:200px;
}
/*첫번째 포폴 (아래에서 위로 서서히 올라온다) */
#port1 {
	padding:10vh 0 17vh 0; transform:translateY(100pt);
	opacity:0; transition:2s;
}
#port1.act {transform:translateY(0pt); opacity:1;}
#port1 img {transform:translateY(-6pt) scale(1.2);
}
#mainimg { 
	width: 1280px; height: 600px;
	margin:auto; opacity: 0;
}
#mainimg.act { 
	width: 1280px; height: 600px;
	margin:auto; opacity: 1;
	transform:translateY(-100pt);
	transition:2s;
}
#port1 h3 {
	color:#027128;
}
#port1 a {
	color:#027128;
	border:1px solid #027128;
}
#port1 a:hover {
	color:white;
	background:#027128;
	border:1px solid #027128;
}




/*두번째 포폴*/
#port2 { 
	/* border:1px dashed green; */
	margin-bottom: 200px;
}
#port2 .right { 
	display:flex;
}
#port2 .right div { 
	/* border:1px solid blue; */
	margin:auto;
	margin-left:20px;
}

#port2 img {
	width: 80vw;
	height: 50vh;
	/* margin-right:60pt; */
}
#port2 .left { 
	margin: auto;
	width:50vw;
	/* border:2px solid black; */
	margin-bottom: 40pt;
}
#port2 .right video {
	width:44vw;
}
#port2 div.left {transform:translateX(-100vw);     transition:2s;}
#port2 div.right{transform:translate(50vw, 20pt); transition:4s;}

#port2.act div.left  {transform:translateX(0);}
#port2.act div.right {transform:translate(0, 20pt);}

#port2 h3 {
	color:#86582b;
}
#port2 a {
	color:#86582b;
	border:1px solid #86582b;
}
#port2 a:hover {
	color:white;
	background:#86582b;
	border:1px solid #86582b;
}



/* Event */
#event {
	/* border:3px solid red; */
	max-width:900px; margin:auto;
}
#event>div {
	display:flex; flex-wrap:wrap; /*플렉스의 이미지 크기 유지*/
	justify-content:space-evenly; /*flex일떄만 사용가능. 여백맞추기*/
}
/* 정사각형 썸네일 영역 */
#event> div> div {
	width:280px; position:relative; margin-bottom:15px;
	overflow:hidden;
}
#event> div> div:hover p   {opacity: 1;}
#event> div img {transition:0.5s;}
#event> div> div:hover img {transform:scale(1.1);}

/* 투명한 검정바탕 */
#event> div p {
	background: rgba(0,0,0,0.75);
	position:absolute; width:100%; height:100%; top:0;
	color:white; text-align:center; opacity: 0; transition: 0.5;
}
/* 돋보기 모양 */
#event> div i {
	font-size:2rem; margin-top:40%;
	display:block;
}
/* 자세히보기 */
#event> div b {
	font-weight: 400; padding-top:10px;
	display:block;
}

/* Contact */
#contact   {background:#eee;}
#contact b {
	display:block; font-size:1.2rem; font-weight: 400;
	padding-top:20pt;
}
#contact div {
	max-width:600px; margin:auto; display:flex;
	padding-top:10vh;
	/* text-align: center; */
}
#contact section { flex:1; text-align: center;}
#contact i, #contact a.fas {
	font-size: 5rem; color:#9fb4e7;
	padding-bottom:10pt;
}
#contact a:last-child {color:black;}

/* 큰 이미지 팝업모달 */
#popup {
	position:fixed; background:rgba(0,0,0,0.8); z-index:1;
	top:0; width:100vw; height:100vh; overflow: auto;
	display:none;
}
#popup h3 {
	color:white; text-align: center;
	padding:15pt;
}
#popup img {
	margin:auto; max-width: 1200px; min-width:40%;
}




/************************************************/
/*600픽셀이하 넓이에 해당되는 브라우저에서 이 디자인들이 적용됨.*/
@media(max-width:800px){
	nav {padding:10pt 5pt 5pt 5pt;}
	nav>div {flex-direction:column;}
	nav p  	{margin-bottom:5pt;}
	#navlogo { display: flex; padding-left: 10px; }
	#navlogo >div { display:flex;}
	#navlogo >div p { }
	#menu a:first-child {margin-left:0;}
	#menu a {font-size:0.9rem; }
	#topbg video {
		transform: translateY(2vh);
		width:100%;
		height: 60vh;
	}
	/* 모바일 글씨 크기 조정 */
	.area h2 { font-size:2rem;}
	#port1 div h3 {
		font-size:1.2rem;
	}
	#port1 div b {
		font-size:0.8rem;
		line-height: 140%;
	}
	#port1 div span {
		font-size:0.8rem;
		line-height: 140%;
	}
	#port1 div a {
		font-size:0.8rem;
		line-height: 140%;
	}
	#port2 div h3 {
		font-size:1.2rem;
	}
	#port2 div b {
		font-size:0.8rem;
		line-height: 140%;
	}
	#port2 div span {
		font-size:0.8rem;
		line-height: 140%;
	}
	#port2 div a {
		font-size:0.8rem;
		line-height: 140%;
	}
	/* ----------------------- */
	#typing {font-size:1.1rem; height:80px;
		top:0; padding:10;}
	#scroll img { width:100px; transform: translateY(20vh);}
	#click { display: none;
		font-size:0.5rem;
		transform: translateY(-10vh);}
	#about h2 { font-size:2rem;}
	#sec1 { margin:auto;}
	#sec1 p { padding:0;}
	#about> div {flex-direction:column; padding:10pt;}
	#skill label{width:38%;}
	#skill progress {width:58%;}
	
	#portfolio {padding-left:10px; padding-right:10px;}
	#portfolio section {flex-direction:column;}
	#portfolio div.left {margin-right:0;}
	#portfolio section:nth-of-type(odd) div.left{order:2;}
	#portfolio section:nth-of-type(odd) div.right{order:1;}
	#portfolio section:not(:first-child){padding-top:0vh;}
	#portfolio ul {padding-bottom:10pt;}
	#portfolio li {flex-direction:column;}	
	#portfolio a {padding:4pt 6pt 5px 6px;}
		
	#port1 {padding-top:0; transform:translateY(0pt); opacity:1;}
	#port1 h3 { margin-top:10vh;}
	#mainimg {
					width: 500px !important; height: 300px !important;
	}
	#port2 div.left {transform:translateX(0);}
	#port2 div.right{transform:translate(0,30pt);}
	#port2 div.left {
		width:90vw;
		margin:auto;

	}
	#port2 div.left img {
		width:100%;
		height: 100%;
		margin:auto;
	}
	#port2flex .right {
		display:flex;
		flex-direction: column;
	}
	#port2flex .right video{
		width: 100%;
		margin-bottom: 30px;
	}
	
	#port3 {padding-top:30vh;}
	#port3 img {transform:translateY(0pt);}
	#port3 div.left {padding-top:30pt; transform:scale(1);}
	#port3 div.right {transform:scale(1);}
	/* -------- */
	#event h2 { line-height: 120%;}
	/* #event>div  {
		display: flex;
	} */
	#event div img {
		width:50vw;
		margin: auto;
	}
	
	#contact h2 b {
		font-size:1rem;
	}
	#contact section h3 {
		font-size:0.9rem;
	}
	#contact section p {
		font-size:0.9rem;
	}

}




















